<div class="container">
  <div class="row text-end">
    <div class="col">
      <a href="/short_urls">Short URL List</a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h1>URL Shortener</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        alt="shortener image" class="img-thumbnail" style="width:200px">
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <form action="/short_urls" method="post">
        <input type="url" required placeholder="Paste URL here" name="url">
        <button type="submit" class="btn btn-primary">Shorten</button>
      </form>
    </div>
  </div>
  {{#if shorturl}}
  <div class="row text-center m-2">
    <div class="col alert alert-primary" role="alert">
      {{replyMsg}}
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <span class="m-1">
        <a href="/{{shorturl.url_id}}" target="_blank" id="short_url">localhost:3000/{{shorturl.url_id}}</a>
      </span>
      <button onclick="copyToClipBoard('short_url')" class="btn btn-outline-primary">Copy</button>
    </div>
  </div>
  {{/if}}
</div>