<div class="container">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">URL Shortener</a>
      <a class="nav-link" href="/short_urls">Short URL List</a>
    </div>
  </nav>
  <div class="row text-center">
    <div class="col">
      <h1>Short The URL</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        alt="shortener image" class="img-thumbnail" style="width:200px">
    </div>
  </div>
  {{#if showForm}}
  <div class="row text-center">
    <form action="/short_urls" method="post">
      <div class="col m-2">
        <input type="url" required placeholder="Paste URL here" name="url" size="50">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Shorten</button>
      </div>
    </form>
  </div>
  {{/if}}
  {{#if shorturl}}
  <div class="row text-center m-2">
    <div class="col alert alert-primary" role="alert">
      {{replyMsg}}
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <span class="m-1">
        <a href="/{{shorturl.url_id}}" target="_blank" id="short_url">http://localhost:3000/{{shorturl.url_id}}</a>
      </span>
      <button onclick="copyToClipBoard('short_url')" class="btn btn-outline-primary">Copy</button>
    </div>
  </div>
  {{/if}}
</div>