<h1 class="primary">URL Shortener</h1>
<img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
  alt="shortener image" srcset="" class="img-thumbnail">
<form action="" method="post">
  <input type="url" required placeholder="Paste URL here">
  <button type="submit" class="btn btn-primary">Shorten</button>
</form>